.card.prev {
  height: 100%;
  transition: .3s ease;

  p {
    display:inline-block;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical
  }

  a {
    text-decoration: none;
  }

  .bottomWrapper {
    height: 35px
  }

  .bottom {
    position: absolute;
    bottom: 1rem;
    left: 1rem;

    a {
      text-decoration: none;
    }
  }
}

.card.prev:hover{
  box-shadow: 1px 1px 10px #9f9f9f87;
}

.text-noclip {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical
}
